spring:
  application:
    name: aiservice
  mongodb:
    uri: mongodb://localhost:27017/airecommendationfitness
    database: airecommendationfitness


server:
    port: 8083

eureka:
    client:
      serviceUrl:
        defaultZone: http://localhost:8761/eureka/

logging:
    level:
      org.springframework.data.mongodb.core.MongoTemplate: INFO
      org.mongodb.driver: INFO

